

<h3>Tour Details</h3>
<p>{{title}}</p>
<!--<div class="rateYo"></div>-->
<p>{{rating}}</p>
<h3>Description</h3>
<p>{{description}}</p>
<h3>Cancellation Policy</h3>
<p>{{cancel}}</p>


<div>
    <h3>Country</h3>
    <p>{{country}}</p>
    <h3>Duration</h3>
    <p>{{duration}}</p>
</div>

<h3>Food </h3>
<div *ngFor="let food of foods">
    <p>{{food.name}}</p>

</div>



<div>
    <h3>Feature </h3>

    <p>{{feature}}</p>

</div>
<hr/>
<div class =row>


    <h2>Review </h2>

    <div *ngFor="let review of reviews">
        <div class =row>
            <div class="col-sm-3">
                <a href="#">
                    <img class="img-responsive" src="../././img/post-sample-image.jpg" alt="" height="100px" width="500px">
                </a>
            </div>
            <div class="col-sm-6">
                <p> {{review.created_at | date:'medium'}}</p>
                <p>{{review.user.email}}</p>
                <hr/>
                <h4>Comment :</h4>
                <h5>{{review.comment}}</h5>
                <hr/>
            </div>

            <div class="col-sm-3">
                <h3>Rating</h3>
                <p>{{review.rating}}</p>
            </div>
        </div>
    </div>



</div>
<!--</html>-->