
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">amujamu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="post.html">Sample Post</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- /.container -->

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>amujamu</h1>
                    <hr class="small">
                    <span class="subheading">Where do you want to go?
            </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<header>
    <img src="../../post-bg.jpg" alt="logo" height="500" width="500" />
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">







<!-- Footer -->




<div class="row">
    <div class="col-sm-10">
        <p> amujamu is an innovative services at any time from any location across the globe. Stay tension free about your
            tour bookings.Ammujamu is a universal online marketplace. Collected activities and opener from various places.
            Everywhere You can find tours. Or activities where you want to go easier and more convenient. With websites that
            support foreign currency and a variety of languages. Make you search for tours. Community tour Even activities
            such as spa cooking can be done simply by searching and booking only at Amujo. Direct expert So no worries about
            payment and booking complex. Because everything we have. It will make all your travel is easy at the
            fingertips. No matter when Or anywhere in the world, "stay breathing, use our service"</p><br/>
        <h1>Where do you want to go?</h1>
        <input class="form-control" placeholder="searchTerm" #searchTerm (keyup.enter)="performSearch(searchTerm)">

        <button type="button"    class="btn btn-success" (click)="performSearch(searchTerm)" >Search</button><hr/>

        <br/>
        <br/>
        <!--<h5>Filter By Categories </h5>-->



        <!--<ul>-->
        <!--<li *ngFor="let t of mytours" >-->
        <!--<a [routerLink]="['/category',searchTerm.value,t.category.id]">{{t.category.name}} </a>-->
        <!--</li>-->
        <!--<li>-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--&lt;!&ndash;<a [routerLink]="['/category',searchTerm.value,10]">Spot Visit </a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--&lt;!&ndash;<a [routerLink]="['/category',searchTerm.value,11]">Day Tour </a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
        <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<a>Nature </a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</ul>-->


    </div>
    <!--<div *ngFor="let tour of tours">-->
    <!--<li><a routerLink="/about" >{{tour.title}}</a>-->

    <!--</li>-->
    <!--</div>-->
    <!--<a routerLink="/about" >Details</a>-->
    <!--<div>-->



    <!--<div class="col-sm-9">-->
    <!--<div class="row">-->
    <!---->
    <!--<div class="jumbotron"  *ngFor="let t of mytours"-->
    <!--[routerLink]="['/about', t.id,t.country.country,t.category.slug,t.slug]">-->
    <!--<div class="row">-->
    <!--<div class="col-sm-3">-->
    <!--<a href="#">-->
    <!--<img class="img-responsive" src="../././img/post-sample-image.jpg" alt="" height="100px" width="500px">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--<a><b><h3>{{ t.title }}</h3></b></a>-->
    <!--<h5>Reviews: {{t.total_rating}}</h5><br/>-->
    <!--<h5 >-->
    <!--{{t.description | limitTo: 50 }}<br/>-->

    <!--</h5>-->
    <!--<h5>{{t.id}}</h5><br/>-->
    <!--<span *ngIf="t.has_picuplocation == true || t.has_picuplocation != null && t.has_picuplocation != false ">-->
    <!--<i class="fa fa-bus" aria-hidden="true"></i>-->
    <!--</span>-->
    <!--<span *ngIf="t.is_child_allowed == true || t.is_child_allowed != null && t.is_child_allowed != false">-->
    <!--<i class="fa fa-child" aria-hidden="true"></i>-->
    <!--</span>-->
    <!--<span *ngIf="t.has_insurance == true || t.has_insurance != null && t.has_insurance != false">-->
    <!--<i class="fa fa-home" aria-hidden="true"></i>-->
    <!--</span>-->
    <!--<span *ngIf="t.request_mode == true || t.request_mode != null && t.request_mode != false">-->
    <!--<i class="fa fa-envelope"></i>-->
    <!--</span>-->
    <!--<span *ngIf="t.foods?.length > 0">-->
    <!--<i class="fa fa-cutlery" aria-hidden="true"></i>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="col-sm-2">-->
    <!--<h6>Amujamu Price</h6>-->
    <!--<h5>{{t.default_price}}</h5>-->
    <!--<h6>Market Price</h6>-->
    <!--<h5><font color="red"><del>{{t.original_market_price}}</del></font></h5><br/>-->

    <!--<a><button type="button" class="btn btn-primary btn-xs">Details</button></a>-->
    <!---->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<br/> {{t.default_price}}-->
    <!--<br/> {{t.original_market_price}}-->
    <!--<br/> {{t.total_rating}}-->

    <!--<i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>-->
    <!--<span class="sr-only">Refreshing...</span>-->
    <!--<i class="fa fa-bus" aria-hidden="true"></i>-->
    <!--<i class="fa fa-child" aria-hidden="true"></i>-->
    <!--<i class="fa fa-home" aria-hidden="true"></i>-->












    <!--<div *ngFor="let p of mytours">-->
    <!--<p>{{p.slug}}</p>-->
    <!---->

    <!---->
    <!---->
    <!---->
    <!--</div>-->
    <!---->
    <!---->
</div>
<!---->

<!--<div class="clearfix"></div>-->
<!--<div class="itemscontainer offset-1">-->
<!--<div class="offset-2">-->
<!--<div class="col-md-4 offset-0">-->
<!--<div class="listitem2">-->
<!--<a href="">-->
<!--<img src="" alt="A tour to Bangkok Opera"/>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-8 offset-0">-->
<!--<div class="itemlabel3">-->
<!--<div class="labelright">-->
<!--<div class="rate-star no-padding" data-rating-value="2.8"></div>-->
<!--<span class="size11 grey">1 Reviews</span>-->
<!--<br><br>-->

<!--<span class="size11 grey">Amujamu Price</span><br>-->
<!--<span class="green size[]
<!--16"><b>$90.21</b></span><br>&ndash;&gt;-->
<!---->
<!--<div class="clearfix"></div>-->
<!--<span class="size11 grey">Market Price</span><br>-->
<!--<span class="red size16">-->
<!--<strike>-->
<!--$86.33-->
<!--</strike>-->
<!--</span>-->
<!--<br/>-->
<!--<br>-->
<!--<a href="" class="bookbtn mt1">-->
<!--Details-->
<!--</a>        -->
<!--</div>-->
<!--<div class="labelleft2">            -->
<!--<a href="" class="tour-search-title">                             -->
<!--<b>A tour to Bangkok Opera</b>-->
<!--</a>-->
<!--<p class="grey tour-description">-->
<!--Bangkok Opera may be just six years old, but it has already accomplished more than companies many times its age. Founded by present director Somtow Sucharitkul, it has mounted operas...-->
<!--</p>-->
<!--<ul class="hotelpreferences">-->
<!--<li class="active" title="Has Insurance">-->
<!--<i class="amujamu-insurence"></i>Insurance-->
<!--</li>-->
<!--<li title="Child Not Allow">-->
<!--<i class="amujamu-child"></i>Child-->
<!--</li>-->
<!--<li class="active" title="Tour Has Foods Facility">-->
<!--<i class="amujamu-food"></i>Food-->
<!--</li>-->
<!--<li title="No Pickup Services">-->
<!--<i class="amujamu-bus"></i>Pickup-->
<!--</li>-->
<!--<li class="active" title="Booking Request Available">-->
<!--<i class="amujamu-book"></i>Seat Request-->
<!--</li>-->
<!--</ul>                        -->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<h1><b>Tour Details</b></h1>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-9">-->
<!--<h3><b>Tiltle</b></h3>-->
<!--<p>{{title}}</p>-->


<!--<h3><b>Description</b></h3>-->
<!--<p><i>{{description}}</i></p>-->

<!--</div>-->

<!--<div class="col-xs-5">-->
<!--<h3><b>Country</b></h3>-->
<!--<p>{{country}}</p>-->
<!--</div>-->
<!--<div class="col-xs-6">-->
<!--<h3><b>Duration</b></h3>-->
<!--<p>{{duration}}</p>-->
<!--</div>-->

<!--</div>-->

<!--<h3><b>Food</b></h3>-->
<!---->
<!--<div *ngFor="let food of foods">-->
<!--<li>-->
<!--<ul><i>{{food.name}}</i></ul>-->
<!--</li>-->
<!--</div>-->
<!--<h3><b>Cancellation Policy</b></h3>-->

<!--<p>{{cancel}}</p>-->
            </div>
            <!--<hr>-->
            <!-- Pager -->
            <!--<ul class="pager">-->
            <!--<li class="next">-->
            <!--<a href="#">Older Posts </a>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
<hr/>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-1">
                <ul>
                    <h4>Search </h4>
                    <a href="http://202.191.125.158:3000/search/bangkok">Bangkok</a><br/>
                    <a href="http://202.191.125.158:3000/search/thailand">Thailand</a><br/>
                    <a href="http://202.191.125.158:3000/search/dhaka">Dhaka</a>
                </ul>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-1">

                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/search/bangkok">

                        </a>
                    </li>

                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; Contact Form JavaScript &ndash;&gt;-->
<!--<script src="js/jqBootstrapValidation.js"></script>-->
<!--<script src="js/contact_me.js"></script>-->

<!--&lt;!&ndash; Theme JavaScript &ndash;&gt;-->
<!--<script src="js/clean-blog.min.js"></script>-->